<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074793416101-uud03nveh6vrq8ddddmncpqsb0vkblla.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074793416101-uud03nveh6vrq8ddddmncpqsb0vkblla</string>
	<key>API_KEY</key>
	<string>AIzaSyDqBtqY3m53HDvuWfZbSLB5wnkJ6iRxCgw</string>
	<key>GCM_SENDER_ID</key>
	<string>1074793416101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>orlandomoraesmartins.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-c26fe</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-c26fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074793416101:ios:c82d49df0149efd278944c</string>
</dict>
</plist>